{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
		<title>Amazon Review Predictor</title>
	</head>
	<body>
		<div id="title"></div>
		<div id="container">
			<h1>Amazon Category Predictor</h1>
			<div class="divider"></div>
			<div id="input">
				<div id="review">
					{% csrf_token %}
					<div class="flex">
						<img alt="default" src="{% static 'default.png' %}" id="image">
						<div>
							<input type="text" class="full" id="name" placeholder="Reviewer Name" required>
							<div class="usually-read-only">
								<input type="text" class="full" id="id" placeholder="Reviewer ID" required>
							</div>
						</div>
					</div>
					<div class="flex">
						<div id="overall" data-rating="0">
							<img alt="stars" src="{% static 'stars.png' %}">
						</div>
						<input type="text" id="summary" placeholder="Review Title" required>
					</div>
					<div class="usually-read-only">
						<input type="date" id="time" required>
						(<span id="unix-time" placeholder="Unix Time" required>Unix Time</span>)
					</div>
					<textarea class="full" id="text" placeholder="Review Text" required></textarea>
					<div class="usually-read-only right">
						<input type="text" class="right" id="helpful" placeholder="0" required>
						<span id="plural-handler">people</span> found this helpful.
					</div>
					<div class="usually-read-only right">
						<input type="text" class="right" id="unhelpful" placeholder="0" required>
						did not.
					</div>
				</div>
				<button id="demo" data-active="false">Activate Demo</button>
				<button id="predict">Predict Product Category</button>
			</div>
			<div class="divider"></div>
			<h2>Predicted Category</h2>
			<div id="output">
				<div id="Books">Books</div>
				<div id="Electronics">Electronics</div>
				<div id="Movies_and_TV">Movies and TV</div>
				<div id="CDs_and_Vinyl">CDs and Vinyl</div>
				<div id="Clothing_Shoes_and_Jewelry">Clothing Shoes and Jewelry</div>
				<div id="Home_and_Kitchen">Home and Kitchen</div>
				<div id="Kindle_Store">Kindle Store</div>
				<div id="Sports_and_Outdoors">Sports and Outdoors</div>
				<div id="Cell_Phones_and_Accessories">Cell Phones and Accessories</div>
				<div id="Health_and_Personal_Care">Health and Personal Care</div>
				<div id="Toys_and_Games">Toys and Games</div>
				<div id="Video_Games">Video Games</div>
				<div id="Tools_and_Home_Improvement">Tools and Home Improvement</div>
				<div id="Beauty">Beauty</div>
				<div id="Apps_for_Android">Apps for Android</div>
				<div id="Office_Products">Office Products</div>
				<div id="Pet_Supplies">Pet Supplies</div>
				<div id="Automotive">Automotive</div>
				<div id="Grocery_and_Gourmet_Food">Grocery and Gourmet Food</div>
				<div id="Patio_Lawn_and_Garden">Patio Lawn and Garden</div>
				<div id="Baby">Baby</div>
				<div id="Digital_Music">Digital Music</div>
				<div id="Musical_Instruments">Musical Instruments</div>
				<div id="Amazon_Instant_Video">Amazon Instant Video</div>
			</div>
			<div class="divider"></div>
			<h2>About</h2>
			<div class="info">
				This website uses a majority voting ensemble trained on 7,125 reviews from each category (171,000 in total).
				<br>
				It took approximately 48 hours to train this ensemble on the odin.ics.uci.edu server.
				<br>
				Tested on 2,375 reviews from each category (57,000 in total), the ensemble has an error rate of 16.7%.
				<br>
				The following table shows a breakdown of this ensemble.
				<table id="errors">
				    <tr>
				        <td>Classifier</td>
				        <td>Training Error</td>
				        <td>Testing Error</td>
				    </tr>
				    <tr>
				        <td>Multinomial Naïve Bayes</td>
				        <td>0.194497</td>
				        <td>0.261053</td>
				    </tr>
				    <tr>
				        <td>Bernoulli Naïve Bayes</td>
				        <td>0.157228</td>
				        <td>0.245649</td>
				    </tr>
				    <tr>
				        <td>Logistic Regression</td>
				        <td>0.001936</td>
				        <td>0.214912</td>
				    </tr>
				    <tr>
				        <td>Random Forests</td>
				        <td>0.001450</td>
				        <td>0.229561</td>
				    </tr>
				    <tr>
				        <td>Gradient Boosting</td>
				        <td>0.184240</td>
				        <td>0.213105</td>
				    </tr>
				    <tr>
				        <td>Ensemble of Above</td>
				        <td>0.047860</td>
				        <td>0.167000</td>
				    </tr>
				</table>
				This project was made for the Project in Artifical Intelligence course (CS175) of the University of California, Irvine.
				<br>
				The project's team members consist of <a href="https://github.com/krazete">Ted Celis</a>, <a href="https://github.com/calexdiaz143">Cesar Diaz</a>, and <a href="https://github.com/mgintjee">Matthew Gintjee</a>.
			</div>
		</div>
		<script src="{% static 'index.js' %}"></script>
	</body>
</html>
