body {
	background: #24303e;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 19px;
	margin: 0;
}

textarea, input {
	background: none;
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
}
input:invalid, input:focus, textarea:invalid, textarea:focus {
	background: #d1d9db;
}

img {
	display: block;
}

button {
	background: linear-gradient(#fbecc8, #f0c14b);
	border: 1px solid #83692a;
	border-radius: 3px;
	font-family: inherit;
	font-size: inherit;
	padding: 5px 50px;
	cursor: pointer;
}
button:hover {
	background: linear-gradient(#f6dda1, #efc056);
}

.divider {
	background: #e7e7e7;
	width: 90%;
	height: 1px;
	margin: 20px;
}

.flex {
	margin-bottom: 5px;
	display: flex;
}
.flex > *:first-child {
	margin-right: 5px;
	flex: none;
}
.flex > *:last-child {
	flex: auto;
}

.full {
	width: 100% !important;
	width: -moz-available !important;
	width: -webkit-fill-available !important;
	display: block !important;
}

.right {
	text-align: right;
}

.usually-read-only {
	font-size: 11px;
	color: #999;
}
.usually-read-only > * {
	color: inherit;
}

#container {
	background: #ffffff;
	border-radius: 4px;
	text-align: center;
	min-width: 500px;
	width: 50%;
	max-width: 1000px;
	padding: 10px;
	margin: 100px auto;
}

#review {
	background: #eaeded;
	border: 1px solid #bbd3de;
	border-radius: 4px;
	text-align: left;
	padding: 10px;
	margin: 10px;
}

#image {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

#name {
	display: block;
}

#overall {
	cursor: pointer;
	width: 95px;
	overflow: hidden;
}
#overall[data-rating="0"] img {
	margin-left: -95px;
}
#overall[data-rating="1"] img {
	margin-left: -76px;
}
#overall[data-rating="2"] img {
	margin-left: -57px;
}
#overall[data-rating="3"] img {
	margin-left: -38px;
}
#overall[data-rating="4"] img {
	margin-left: -19px;
}

#summary {
	font-weight: bold;
}

#text {
	min-height: 100px;
	height: 200px;
	max-height: 1000px;
}

#output {
	background: #000000;
	color: #ffffff;
	margin: 10px;
	border-radius: 4px;
}

#output > div {
	width: 200;
	display: inline-block;
}

.predicted {
	background: #00ff00;
	color: #000000;
	font-weight: bold;
}

#errors {
	font-family: monospace;
	margin: 10px auto;
}

#errors td {
	padding: 0px 10px;
}
